* {
    margin: 0;
    padding: 0;
}

.header {
    border: solid violet 4px;
    border-style: double;
    background-image: url(/img/depositphotos_184971890-stock-photo-80s-synthwave-retrowave-background-palm.jpg);
    color: black;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    /* margin:; */
}
.header img {
    width: 350px;
    height: 350px;
}

.cards {
    border: solid violet 4px;
    border-style: double;
    font-family: 'Oswald', sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(47, 18, 56, 1) 81%, rgba(0, 212, 255, 1) 100%);
    color: ivory;
    text-align: center;
}

.cards h2 {
    text-align: center;
    color: blueviolet;
}

.cards img {
    width: 700px;
    height: 400px;

}

.footer {
    background-image: url(/img/depositphotos_184971890-stock-photo-80s-synthwave-retrowave-background-palm.jpg);
    border: solid violet 4px;
    border-style: double;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}

.footer a {
    text-decoration: none;
    color: black;
}

.redes img {
    width: 50px;
    height: 50px;
}

.about {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(47, 18, 56, 1) 81%, rgba(0, 212, 255, 1) 100%);
    color: rgb(196, 22, 184);
    padding: 25px;
}

.about u {
    text-decoration: underline;
    color: cornsilk;
}

.about h2 {
    color: darkturquoise;
    text-align: center;
    font-size: 50px;
}

.contact {
    border: solid violet 4px;
    border-style: double;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(47, 18, 56, 1) 81%, rgba(0, 212, 255, 1) 100%);
    color: rgb(196, 22, 184);
    text-align: center;
}

.contact h2 {
    text-align: center;
}

.about ol {
    list-style: lower-roman;
}

.latest-drop {
    background: rgb(255, 0, 0);
    background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: ivory;
    text-align: center;

}

.sales {
    border: solid violet 4px;
    border-style: double;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(47, 18, 56, 1) 81%, rgba(0, 212, 255, 1) 100%);
    color: rgb(196, 22, 184);
    text-align: center;
}

.sales img {
    width: 700px;
    height: 400px;
}

.shops {
    padding: 25px;
    border: solid violet 4px;
    border-style: double;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(47, 18, 56, 1) 81%, rgba(0, 212, 255, 1) 100%);
    color: rgb(196, 22, 184);
    text-align: center;
}
.col img {
    height: 400px;
    width: 400px;
}
.header img {
    height: 100px;
    width: 100px;
}
.navbar {
background-color: blueviolet;
}
 .main {
    background: rgb(99,3,103);
background: linear-gradient(138deg, rgba(99,3,103,1) 49%, rgba(50,150,240,1) 100%, rgba(45,164,253,1) 100%);
 }
 .container p {
    color: aliceblue;
 }

 .col img:hover{
    color: brown;
    background-color: blueviolet;
    transition: 0.5s;
 }
@media (min-width: 1200px) {
    .header {
        background-color: aqua;
        border: 5px solid black;
    }
.main img {
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 5px solid black;
}
.main p {
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.main h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;

}
.main-latest img {
width: 200px;
height: 200px;
}
.main-latest p {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}
@media (max-width: 850px) {
    .header {
        background-color: aqua;
        border: 5px solid black;
    }
.main img {
    width: 200px;
    height: 300px;
    padding: 20px;
    border: 5px solid black;
}
.main p {
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.main h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;

}
}
@media (min-width: 850px) {
    .header {
        background-color: aqua;
        border: 5px solid black;
    }
.main img {
    width: 200px;
    height: 300px;
    padding: 20px;
    border: 5px solid black;
}
.main p {
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.main h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;

}
}
